.recent-card {
  padding: 20px;
  border-radius: var(--radius-16);
  transition: var(--transition-1);
}

.recent-card:is(:hover, :focus-within) {
  transform: translateY(-5px);
}

.card-banner {
  border-radius: var(--radius-16);
  overflow: hidden;
}

.card-wrapper {
  margin-block-start: 12px;
}

.profile-card :is(.card-title, .card-subtitle) {
  color: var(--text-light-green);
}

.profile-card .card-title {
  color: var(--text-light-green);
  font-weight: var(--weight-bold);
}

.wrapper,
.card-tag {
  display: flex;
  gap: 3px;
  align-items: center;
}

.card-subtitle,
.card-wrapper .card-btn {
  font-size: var(--fontSize-6);
}

.card-wrapper:last-child {
  font-size: var(--fontSize-4);
  margin-block-end: 0;
}

.card-wrapper .card-btn {
  position: relative;
  color: var(--text-wild-blue-yonder);
  z-index: 1;
}

.card-wrapper .card-btn::before {
  content: "";
  position: absolute;
  top: -13px;
  left: -20px;
  width: 48px;
  height: 48px;
  background-color: var(--bg-oxford-blue-2);
  border-radius: var(--radius-circle);
  z-index: -1;
}
