.recent-card {
  transition: var(--transition-1);
}

.recent-card:is(:hover, :focus-within) {
  transform: translateY(-5px);
}

.card-banner {
  border: none;
  overflow: hidden;
}

.card-content {
  padding: 20px;
}

.card-wrapper {
  margin-block-start: 12px;
  box-shadow: none;
}

.profile-card .card-title {
  color: black;
  font-weight: var(--weight-bold);
}

.card-tag {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.card-tag span {
  display: inline-block;
  margin: 0;
  padding: 5px 10px;
  background-color: var(--bg-tag);
  border-radius: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.card-subtitle,
.card-wrapper .card-btn {
  font-size: var(--fontSize-6);
}

.card-wrapper:last-child {
  font-size: var(--fontSize-4);
  margin-block-end: 0;
}

.card-btn {
  display: flex;
  align-items: center;
}
.card-btn:is(:hover, :focus-within) {
  color: var(--text-orange);
}

.tag:is(:hover, :focus-within) {
  color: var(--text-orange);
}

@media (min-width: 1200px) {
  .card-tag {
    font-size: var(--fontSize-8);
  }
}
