.section {
  padding-block-start: var(--section-padding);
}

.container {
  position: relative;
  background-color: var(--bg-frost-white);
  color: var(--text-black);
  width: 100vw;
  height: calc(100vh - var(--section-padding));
  display: flex;
}

.box {
  position: relative;
  padding-block-start: calc(var(--section-padding) - 50px);
  width: 50%;
  height: 100%;
}

/*md 파일 code 때문에*/
.box span {
  display: inline;
}

.wrapper {
  padding-inline: 30px;
}
/**
* markdown-editor
*/
.box textarea {
  display: block;
  outline: none;
  border: none;
  resize: none;
  width: 100%;
}
.title {
  height: 6rem;
  background-color: var(--bg-frost-white);
  font-size: var(--fontSize-1);
  font-weight: var(--weight-bold);
}
.title::placeholder {
  font-size: var(--fontSize-1);
}

.tag {
  border-block-end: 2px solid var(--border-gray);
}

.contents {
  background-color: var(--bg-frost-white);
  min-height: 650px;
  height: calc(100vh - 300px);
  font-size: var(--fontSize-7);
}

/**
* publisher
*/
.publisher {
  position: fixed;
  z-index: 3;
  width: 854px;
  bottom: 0;

  box-shadow: var(--shadow-4);
  background-color: var(--bg-frost-white);
}

.contents-wrapper {
  padding-left: 1rem;
  padding-right: 1rem;

  width: 100%;
  height: 5rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.exit {
  height: 4rem;
  padding: 0.5rem 1rem;
  align-items: center;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  display: flex;
  outline: none;
}

.publish {
  height: 4rem;
  padding: 1rem 2rem;
  border-radius: var(--radius-6);
}
.publish:is(:hover, :focus-within) {
  background-image: var(--gradient-1);
}

@media (min-width: 1500px) {
  .toolbar-btn {
    display: none;
  }
}
