.tags .grid-list {
  grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
  grid-gap: 8px;
}
.tag-btn {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 3px;
  padding-right: 12px;
  padding-left: 12px;
  border-radius: var(--radius-12);
}

.tag-btn:is(:hover, :focus-visible) {
  box-shadow: var(--shadow-3);
  background-image: linear-gradient(var(--bg-emerald-green), #000),
    var(--gradient-1);
  background-clip: padding-box, border-box;
  border-color: transparent;
  transform: translateY(-2px);
  transition: var(--transition-1);
}

.tag-btn img {
  width: 100%;
  max-width: 32px;
}

.tags-flex {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 2px;
}
