.section {
  padding-block: calc(var(--section-padding) - 50px);
}
.section ol li {
  list-style-type: decimal;
}
.section ul li {
  list-style-type: disc;
}
.image {
  width: 100%;
  height: auto;
}

.code span {
  width: 100%;
  display: inline;
  font-size: 85%;
}

.loading {
  background-color: var(--bg-light-gray);
  border-radius: var(--radius-6);
}

.width100b {
  width: 100px;
}

.width85 {
  width: 85%;
}

.width70 {
  width: 70%;
}

.img-loading {
  height: 200px;
}
.end {
  margin-block-end: 3px;
}

@media (min-width: 575px) {
  .section {
    margin-inline: 50px;
  }
}
@media (min-width: 768px) {
  .section {
    margin-inline: 100px;
  }
}
@media (min-width: 992px) {
  .section {
    margin-inline: 250px;
  }
}

@media (min-width: 1200px) {
  .section {
    margin-inline: 350px;
  }
}
@media (min-width: 1500px) {
  .section {
    margin-inline: 450px;
  }
}
