.contents {
  display: grid;
  width: 100%;
}

/**
*  media queries
*/
@media (min-width: 1200px) {
  .contents {
    grid-template-columns: 9fr 1fr;
    align-items: flex-start;
  }
}

@media (min-width: 1200px) {
  .contents {
    padding-inline: calc(var(--section-padding) + 150px);
  }
}
