.hero {
  padding-block-start: calc(var(--section-padding) + 50px);
  background-color: var(--bg-frost-white);
  box-shadow: var(--shadow-1);
  overflow: hidden;
}
.hero .container {
  display: grid;
  gap: 50px;
}
.hero-subtitle {
  font-size: var(--fontSize-2);
  font-weight: var(--weight-bold);
}
.hero .section-title {
  margin-block: 20px;
}
.hero .hero-text {
  margin-block-end: 40px;
}

.hero-banner {
  position: relative;
}
