.hero {
  padding-block-start: calc(var(--section-padding) + 50px);
  background-color: white;
  box-shadow: var(--shadow-2);
  overflow: hidden;
}
.hero .container {
  display: grid;
  gap: 50px;
}
.hero-subtitle {
  font-size: var(--fontSize-2);
  font-weight: var(--weight-bold);
}
.hero .section-title {
  margin-block: 20px;
}
.hero .hero-text {
  margin-block-end: 40px;
}

.hero-banner {
  position: relative;
}

/**
*  media queries
*/
@media (min-width: 575px) {
  .hero-content {
    padding-inline: 100px;
  }
}

@media (min-width: 768px) {
  .hero-content {
    padding-inline: 200px;
  }
}

@media (min-width: 992px) {
  .hero-content {
    padding-inline: 300px;
  }
}

@media (min-width: 1200px) {
  .hero-content {
    padding-inline: 400px;
  }
}
