.logo {
  display: block;
  max-width: max-content;
  margin-inline: auto;
  margin: auto;
  width: auto;
  height: auto;
  transition: opacity 0.5s ease-in-out;
}

.shape {
  position: absolute;
  z-index: 1;

  animation: heroDecoAnim1 3s linear infinite alternate;
}

@keyframes heroDecoAnim1 {
  0% {
    transform: translateY(40px) rotate(0);
  }
  100% {
    transform: translateX(20px) rotate(3.2turn);
  }
}

@keyframes heroDecoAnim2 {
  0% {
    transform: translateX(40px) rotate(0);
  }
  100% {
    transform: translateY(20px) rotate(1.2turn);
  }
}

@keyframes heroDecoAnim3 {
  0% {
    transform: translateY(40px) rotate(0);
  }
  100% {
    transform: translateX(-20px) rotate(2turn);
  }
}
.shape-1 {
  top: 50px;
  right: 40px;
}

.shape-2 {
  bottom: 40px;
  left: 24px;
  animation: heroDecoAnim3 3s linear infinite alternate;
}

.shape-3 {
  top: 50px;
  left: 4px;
  animation: heroDecoAnim2 3s linear infinite alternate;
}

.shape-4 {
  bottom: 80px;
  right: 30px;
  animation: heroDecoAnim3 4s linear infinite alternate;
}

/**
*  media queries
*/
@media (min-width: 575px) {
  .shape-1 {
    right: 150px;
  }

  .shape-2 {
    left: 100px;
  }

  .shape-3 {
    left: 100px;
  }

  .shape-4 {
    right: 100px;
  }
}

@media (min-width: 992px) {
  .shape-1 {
    right: 350px;
  }

  .shape-2 {
    left: 300px;
  }

  .shape-3 {
    left: 300px;
  }

  .shape-4 {
    right: 300px;
  }
}

@media (min-width: 1200px) {
  .shape-1 {
    right: 550px;
  }

  .shape-2 {
    left: 500px;
  }

  .shape-3 {
    left: 500px;
  }

  .shape-4 {
    right: 500px;
  }
}
