.logo {
  max-width: max-content;
  margin-inline: auto;
  transition: opacity 0.5s ease-in-out;
}

.shape {
  position: absolute;
  z-index: 1;

  animation: heroDecoAnim1 3s linear infinite alternate;
}

@keyframes heroDecoAnim1 {
  0% {
    transform: translateY(40px) rotate(0);
  }
  100% {
    transform: translateX(20px) rotate(3.2turn);
  }
}

@keyframes heroDecoAnim2 {
  0% {
    transform: translateX(40px) rotate(0);
  }
  100% {
    transform: translateY(20px) rotate(1.2turn);
  }
}

@keyframes heroDecoAnim3 {
  0% {
    transform: translateY(40px) rotate(0);
  }
  100% {
    transform: translateX(-20px) rotate(2turn);
  }
}
.shape-1 {
  top: 50px;
  right: 40px;
}

.shape-2 {
  bottom: 40px;
  left: 24px;
  animation: heroDecoAnim3 3s linear infinite alternate;
}

.shape-3 {
  top: 50px;
  left: 4px;
  animation: heroDecoAnim2 3s linear infinite alternate;
}

.shape-4 {
  bottom: 80px;
  right: 30px;
  animation: heroDecoAnim3 4s linear infinite alternate;
}
